# Ignore all CSV files
data/*.csv

# But DO include our sample file
!data/student_sample.csv

# Ignore .ods files (OpenDocument)
data/*.ods

# Ignore system and environment files
__pycache__/
*.pyc
.venv/
venv/
.env
.DS_Store
.ipynb_checkpoints/
archive.zip
data/processed_student_data.parquet/
